application/json URI scheme doesn't define a fragment construction

The URI scheme for the mediatype application/json does not define fragments for json-pointer. What is our exposure in SDF? 

I suppose we could add the fragment definition to application/json or define a new mediatype.

Reminder: fragments are processed on the client and do not change the server behavior

On 2021-03-03, at 17:22, Michael Koster <notifications@github.com> wrote:
> 
> 
> The URI scheme for the mediatype application/json does not define fragments for json-pointer. What is our exposure in SDF?

We are not using application/json, are we?
This should be application/sdf+json.

Section 3.1 of RFC 6839 says:

   Fragment identifier considerations:

      The syntax and semantics of fragment identifiers specified for
      +json SHOULD be as specified for "application/json".  (At
      publication of this document, there is no fragment identification
      syntax defined for "application/json".)

      The syntax and semantics for fragment identifiers for a specific
      "xxx/yyy+json" SHOULD be processed as follows:

      For cases defined in +json, where the fragment identifier resolves
      per the +json rules, then process as specified in +json.

         For cases defined in +json, where the fragment identifier does
         not resolve per the +json rules, then process as specified in
         "xxx/yyy+json".

         For cases not defined in +json, then process as specified in
         "xxx/yyy+json".

So we are free to define our own.

> I suppose we could add the fragment definition to application/json or define a new mediatype.

Grüße, Carsten


