Coordinate with JSO on name of "contentFormat" quality

MJK: Postman-guided.  Regular meeting.

cabo: Spec has been in since 2020:

```
3. The `contentFormat` quality follows the Content-Format-Spec as defined in
   {{Section 6 of RFC9193}}, allowing for expressing both numeric and string
   based Content-Formats.
```

Ari: https://datatracker.ietf.org/doc/html/draft-bhutton-json-schema-validation-01#name-contentmediatype

Definition of done:
Once we have coordinated ("FYI"), we are fine.


